{% extends "base.html" %}
{% block title %} BTools Tech {% endblock %}

{% block content %}

<div class="container mb-5">
    <h2 class="pt-3 pb-3"> Contato </h2>

    <div class="row">
        <div class="col-md-5">
            <div class="card p-4 shadow border-0" data-anime="up">
                <div class="address">
                    <h5><i class="bi bi-geo-alt "></i> Localização: </h5>
                    <p>Águas Lindas de Goias, GO</p>
                </div>

                <div class="email">
                    <h5><i class="bi bi-envelope"></i> Email: </h5>
                    <p>contato@btools.com.br</p>
                </div>

                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d239.97299766524262!2d-48.273873173741016!3d-15.773978352977924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1710799953823!5m2!1spt-BR!2sbr"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
            </div>

        </div>

        <div class="col-md-7 mt-5 mt-md-0">
            <div class="card p-4 h-100 shadow border-0" data-anime="left">

                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="nome" class="form-label">Nome </label>
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome">
                    </div>

                    <div class="col-md-6">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail">
                    </div>

                    <div class="col-12">
                        <label for="menssagem" class="form-label"> Mensagem </label>
                        <textarea type="text" class="form-control" id="menssagem" placeholder="Digite sua mensagem"
                            name="menssagem" rows="9"> </textarea>
                    </div>

                    <div class="col-12 d-flex justify-content-center mt-4">
                        <button type="submit" class="btn btn-outline-primary">Enviar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}