{% extends "base.html" %}
{% block title %} BTools Tech {% endblock %}

{% block content %}

    <div class="container pb-5">
        <h2 class="pt-3 pb-4"> Currículo </h2>
        <div class="row">
            <div class="col-md-6">
                <h3 class="cv-title">Educação</h3>
                <div class="cv-item" data-anime="up">
                    <h4>Analise e Desenvolvimento de Sistemas</h4>
                    <h5>2017-2018</h5>
                    <p><em>Faculdade JK</em></p>
                    <p>Graduação</p>

                </div>

                <div class="cv-item" data-anime="up">
                    <h4>Analise e Desenvolvimento de Sistemas</h4>
                    <h5>2017-2018</h5>
                    <p><em>Faculdade JK</em></p>
                    <p>Graduação</p>

                </div>

                <div class="cv-item" data-anime="up">
                    <h4>Analise e Desenvolvimento de Sistemas</h4>
                    <h5>2017-2018</h5>
                    <p><em>Faculdade JK</em></p>
                    <p>Graduação</p>

                </div>

            </div>

            <div class="col-md-6">
                <h3 class="cv-title">Profissional</h3>
                <div class="cv-item" data-anime="right">
                    <h4>Analise e Desenvolvimento de Sistemas</h4>
                    <h5>2017-2018</h5>
                    <p><em>Faculdade JK</em></p>
                    <p>Graduação</p>

                </div>

                <div class="cv-item" data-anime="right">
                    <h4>Analise e Desenvolvimento de Sistemas</h4>
                    <h5>2017-2018</h5>
                    <p><em>Faculdade JK</em></p>
                    <p>Graduação</p>

                </div>

                <div class="cv-item" data-anime="right">
                    <h4>Analise e Desenvolvimento de Sistemas</h4>
                    <h5>2017-2018</h5>
                    <p><em>Faculdade JK</em></p>
                    <p>Graduação</p>

                </div>

            </div>
        </div>

    </div>

{% endblock %}