{% extends "base.html" %}
{% block title %} BTools Tech {% endblock %}

{% block content %}

    <div class="col-md-5 custom-col-section-home ">
        <h2 class="text-shadow text-black"> Leonardo Fernandes </h2>
        <span id="subtitle" class="text-shadow text-black"> Analista de Dados </span>
    </div>

    <div class="col-md-7 custom-col-section-home-drag ">
        
        <div id="drag" class="d-flex align-items-center">
            <i class="bi bi-arrow-down text-black pe-2 fs-2" aria-hidden="true"></i>
            <a href="#about"> Arraste para mais </a>
        </div>

    </div>

{% endblock %}