{% extends "base.html" %}
{% block title %} Introdução {% endblock %}

{% block content %}

<main id="main">

    <section id="home" class="row m-0 p-0">
        {% include "home.html" %}
      
    </section>

    <section id="about" class="container mt-5">
        {% include "about.html" %}

    </section>

    <section id="skills" class="mt-5 section-bg">
        {% include "skills.html" %}

    </section>

    <section id="curriculum" class="mt-5 cv">
        {% include "curriculum.html" %}

    </section>

    <section id="portfolio" class="mt-5 section-bg">
        {% include "portfolio.html" %}
        
    </section>

    <section id="contact" class="pt-5 pb-5">
        {% include "contact.html" %}
        

    </section>

    <!-- <div class="alert alert-success alert-dismissible fade show slideIn" role="alert">
            <i class="bi bi-check-circle-fill"></i> 
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div> -->


</main>


{% endblock %}