{% extends "base.html" %}
{% block title %} Introdução {% endblock %}

{% block content %}

<main id="main">

    <section id="home" class="row m-0 p-0">
        <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
            <h2 class="text-shadow text-black">Leonardo Fernandes</h2>
            <span id="subtitle" class="text-shadow text-black">Analista de Dados </span>
        </div>
        <div class="col-md-7 d-flex justify-content-end align-items-end flex-column">
            <div id="drag" class="d-flex align-items-center">
                <i class="bi bi-arrow-down text-black pe-2 fs-2" aria-hidden="true"></i>
                <a href="#about"> Arraste para mais</a>

            </div>

        </div>
    </section>

    <section id="about" class="container mt-5">
        <div class="row w-100">
            <div class="col-md-12">
                <h2 class="pt-3">Sobre</h2>
                <p class="">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                    of
                    classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                    professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                    consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
                    literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                    of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This
                    book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of
                    Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                </p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4">
                <img class="img-fluid shadow" src="../static/img/btools_logo_v2.png" alt="Foto do Leonardo">
            </div>

            <div class="col-md-8">
                <h3>Analista de Sistema</h3>
                <p>Atualmente trabalho como Analista de Dados e programador Python, utilizando banco de dados SQL e
                    NoSQL</p>

                <div class="row mt-3 mb-3">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush fs-5">
                            <li class="list-group-item">
                                Niver: <span class="fw-lighter"> 21 de Abril de 1990 </span>
                            </li>
                            <li class="list-group-item">
                                Idade: <span class="fw-lighter"> 34 anos </span>
                            </li>
                            <li class="list-group-item">
                                Cidade Natal: <span class="fw-lighter"> Belém do Pará </span>
                            </li>
                            <li class="list-group-item">
                                Morando em: <span class="fw-lighter"> Aguás Lindas de Goiás/GO </span>
                            </li>

                        </ul>

                    </div>

                    <div class="col-md-6">
                        <ul class="list-group list-group-flush fs-5">
                            <li class="list-group-item">
                                Hobby: <span class="fw-lighter"> Jiu-jitsu </span>
                            </li>
                            <li class="list-group-item">
                                Site: <a href="http://www.leonardofernandes.com.br" target="_blank"
                                    class="fw-lighter text-decoration-none link-dark"> links.leonardo </a>
                            </li>
                            <li class="list-group-item">
                                Trabalho: <a href="http://www.btools.com.br" target="_blank"
                                    class="fw-lighter text-decoration-none link-dark"> BTools Tech </a>
                            </li>
                            <li class="list-group-item">
                                Experiência: <span class="fw-lighter"> +6 anos </span>
                            </li>

                        </ul>

                    </div>
                </div>

                <p> complemento do texto: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>



            </div>
        </div>

    </section>


    <!-- <div class="alert alert-success alert-dismissible fade show slideIn" role="alert">
            <i class="bi bi-check-circle-fill"></i> 
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div> -->


</main>


{% endblock %}