{% extends "base.html" %}
{% block title %} BTools Tech {% endblock %}

{% block content %}

<div class="container pb-5">
    <h2 class="pb-5"> Habilidades </h2>
    <p> Texto Habilidades </p>

    <div class="row">
        <div class="col-md-6">
            
            <p class="mt-3 mb-0">HTML</p>
            <div class="progress">
                <div class="progress-bar" data-anime="left" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25"  style="width: 85%">
                    85%
                </div>
            </div>

            <p class="mt-3 mb-0">CSS</p>
            <div class="progress">
                <div class="progress-bar" data-anime="left" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25"  style="width: 85%">
                    85%
                </div>
            </div>

            <p class="mt-3 mb-0">JavaScript</p>
            <div class="progress">
                <div class="progress-bar" data-anime="left" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25"  style="width: 85%">
                    85%
                </div>
            </div>

            <p class="mt-3 mb-0">Python</p>
            <div class="progress">
                <div class="progress-bar" data-anime="left" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25"  style="width: 85%">
                    85%
                </div>
            </div>

            <p class="mt-3 mb-0">React</p>
            <div class="progress">
                <div class="progress-bar" data-anime="left" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25"  style="width: 85%">
                    85%
                </div>
            </div>

        </div>

        <div class="col-md-6">

            <p class="mt-3 mb-0">Power BI</p>
            <div class="progress">
                <div class="progress-bar" data-anime="left" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25"  style="width: 85%">
                    85%
                </div>
            </div>

            <p class="mt-3 mb-0">Tableu</p>
            <div class="progress">
                <div class="progress-bar" data-anime="left" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25"  style="width: 85%">
                    85%
                </div>
            </div>

            <p class="mt-3 mb-0">SQL</p>
            <div class="progress">
                <div class="progress-bar" data-anime="left" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25"  style="width: 85%">
                    85%
                </div>
            </div>

            <p class="mt-3 mb-0">NoSQL</p>
            <div class="progress">
                <div class="progress-bar" data-anime="left" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25"  style="width: 85%">
                    85%
                </div>
            </div>


            <p class="mt-3 mb-0">Git</p>
            <div class="progress">
                <div class="progress-bar" data-anime="left" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25"  style="width: 85%">
                    85%
                </div>
            </div>


        </div>
    </div>

    <hr class="w-50 me-auto ms-auto">

    <div class="row">
        <div class="col-md-6">
            <p class="mt-3 mb-0">Trablho em equipe</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" data-anime="left" style="width: 25%">25%</div>
            </div>

            <p class="mt-3 mb-0">Proatividade</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" data-anime="left" style="width: 25%">25%</div>
            </div>

            <p class="mt-3 mb-0">Orientação a detalhes</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" data-anime="left" style="width: 25%">25%</div>
            </div>



        </div>

        <div class="col-md-6">

            <p class="mt-3 mb-0">Comunicação</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" data-anime="left" style="width: 25%">25%</div>
            </div>

            <p class="mt-3 mb-0">Empatia</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" data-anime="left" style="width: 25%">25%</div>
            </div>

            <p class="mt-3 mb-0">Comprometimento</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" data-anime="left" style="width: 25%">25%</div>
            </div>


            </div>
        </div>


    </div>

{% endblock %}